<!DOCTYPE html>
<html lang="en">

<head>
    <title>Service Provider Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.26/dist/sweetalert2.all.min.js"></script>
    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {
            height: 100vh;
        }

        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #f1f1f1;
            height: 100%;
        }

        /* On small screens, set height to 'auto' for the grid */
        @media screen and (max-width: 767px) {
            .row.content {
                height: auto;
            }
        }
        th{
            text-align: center;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-inverse visible-xs">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Krishi Bhavan</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li ><a href="{% url 'service_home' %}">Dashboard</a></li>
                    <li><a href="{% url 'add_products' %}">Add products</a></li>
                    <li><a href="{% url 'service_provider_product_view' %}">View Products</a></li>
                    <li><a href="{% url 'service_provider_order_history' %}">View History</a></li>
                    <li><a href="{% url 'chat_section' %}">Chat room</a></li>
                    <li class="active"><a href="{% url 'service_provider_soil' %}">View Soil test request</a></li>
                    <li><a href="{% url 'logout_service_provider' %}" id="logout">logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav hidden-xs">
                <h2>Krishi Bhavan</h2>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{% url 'service_home' %}">Dashboard</a></li>
                    <li><a href="{% url 'add_products' %}">Add products</a></li>
                    <li><a href="{% url 'service_provider_product_view' %}">View Products</a></li>
                    <li><a href="{% url 'service_provider_order_history' %}">View History</a></li>
                    <li><a href="{% url 'chat_section' %}">Chat room</a></li>
                    <li class="active"><a href="{% url 'service_provider_soil' %}">View Soil test request</a></li>
                    <li><a href="{% url 'logout_service_provider' %}" id="logout">logout</a></li>
                </ul><br>
            </div>
            <br>

            <div class="col-sm-9">
                <div class="well text-center">
                    <h4>Dashboard</h4>

                </div>
                <h2>Soil test request</h2>
                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                <table class="table text-center ">
                    {% if all_data %}
                    <thead>
                        <tr class="align-items-center justify-content-center text-center">
                            <th>No.</th>
                            
                            <th>Status</th>
                            <th>Date</th>
                            <th>Comment</th>
                            {% for all_data in all_data %}
                            {% if all_data.status|stringformat:"s" == "ACCEPTED" %}
                            <th>Report</th>
                            {% endif %}
                            {%endfor%}
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        {% for all_data in all_data %}
                        <tr class="align-items-center justify-content-center text-center">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ all_data.status }}</td>
                            <td>{{ all_data.date }}</td>
                            {% if all_data.status|stringformat:"s" == "ACCEPTED" %}
                            <form method="post" action="" onsubmit="return confirm('Do you want to Complete?')">
                                {% csrf_token %}
                                <td>
                                    
                                        
                                        <input type="hidden" name="id" value="{{ all_data.id }}">
                                        <input type="text" name="comment" value="{{ all_data.comment }}"/>
                                        
                                        
                                    
                                </td>
                                <td><textarea id="" name="report" rows="4" cols="40" required></textarea></td>
                                <td><button>COMPLEATE</button></td>
                            </form>
                            {% endif %}
                            {%if all_data.status|stringformat:"s" == "REQUESTED"%}
                            <form method="post" action="" onsubmit="return confirm('Do you want to Accept?')">
                            {% csrf_token %}
                            <td>
                                
                                    
                                    <input type="hidden" name="id" value="{{ all_data.id }}">
                                    <input type="text" name="accept" style="width:25%;" value="{{ all_data.comment }}"/>
                                    
                                
                            </td>
                            <td><button>Accept</button></td>
                        </form>
                        {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    
                    {%else%}
                    <p>No data found</p>
                    {% endif %}
                </table>

                
                
            </div>
        </div>
    </div>


    {% if messages %}
    {% for message in messages %}
    <script>
        Swal.fire('{{ message }}')
    </script>
    {% endfor %}
    {% endif %}

    <script>
        document.getElementById("logout").onclick = function () { myFunction() };
        function myFunction() {
            Swal({
                title: "Are you sure?",
                text: "Once logout, you need to log in again !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        Swal("Done! you are logout1", {
                            icon: "success"
                        }).then(function () {
                            window.location = "{% url 'logout_admin' %}";
                        });
                    } else {
                        Swal("Logout cancelled!")
                    }
                });
        }
    </script>
</body>

</html>